<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SCRIPTS / STYLESHEETS -->
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
  <!-- MAIN CONTAINER W/ CONTROLLER AS SYNTAX -->
  <div class="container" ng-controller="NarrowItDownController as narrowItDownCtrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <!-- PAGE INFO -->
    <div class="col-md-10">
      <h2>Search for anything from the menu categories to narrow down your menu choice</h2>
      <h4>For example: "Chicken" / "Veg" / "Noodle" / "erts"</h4>
    </div>

    <!-- MENU CATEGORIES -->
    <div class="col-md-10">
      <h3>Menu Categories</h3>
      <ol>
        <menu-category-items ng-repeat="item in narrowItDownCtrl.menuHeaderList"></menu-category-items> <!--As Element-->
        <!-- <li menu-category-items ng-repeat="item in narrowItDownCtrl.menuHeaderList"></li> --> <!--As Attribute-->
      </ol>
    </div>

    <!-- SEARCH TERM INPUT -->
    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="narrowItDownCtrl.searchTerm" trim="true">
    </div>

    <!-- NARROW IT DOWN BUTTON -->
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="narrowItDownCtrl.narrowItDown()">Narrow It Down For Me!</button>
    </div>

    <!-- FOUND ITEMS -->
    <div class="col-md-10">
      <found-items 
        items="narrowItDownCtrl.found"
        title="{{narrowItDownCtrl.title}}"
        on-remove="narrowItDownCtrl.removeItem(index)">
      </found-items>
    </div>
  </div>
</body>
</html>
